{% extends "::layout.html.twig" %}
{% block title %}
    {{ parent() }}
    - Acceuil
{% endblock %}

{% block body %}
    <h1>News</h1>
    <hr/>
    {% block body_escnews %}

    {% endblock %}
{% endblock %}
