<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>ESCommunity </title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block style %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        {% stylesheets filter='uglifycss' filter='cssrewrite'
            'bundles/escmain/css/body.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block java %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% javascripts filter='uglifyjs2'
            '@ESCMainBundle/Resources/public/js/functions.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>
<!-- Modal -->
<div class="modal fade" id="ModalLogin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Connexion</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Entrer le d'utilisateur">
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Mot de passe</label>
                        <input type="text" class="form-control" id="psw" placeholder="Enter le mot de passe">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Rester connecté</label>
                    </div>
                    <button type="submit" class="btn btn-default btn-default btn-block"><span
                                class="glyphicon glyphicon-off"></span> Login
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Annuler
                </button>
                <p>Vous n'êtes pas membre? <a href="#">Inscrivez vous</a></p>

                <p>Oubli de <a href="#">Mot de passe ?</a></p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a link -->
                <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#">Link</a></p>

            <p><a href="#">Link</a></p>

            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left">
            {% block body %}

            {% endblock %}
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom text-center container-fluid">
    <p>Electronic Sports Community &copy; - 2016</p>
</footer>

</body>
</html>